*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg);
  
}

.warpper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.neptune_container{
    position: absolute;
    height: 850px;
    width: 850px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.neptune_container img{
    width: 50px;
    height: 50px;
    animation: neptune-rotation 18s linear infinite;
}

.uranus_container{
    position: absolute;
    height: 750px;
    width: 750px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.uranus_container img{
    width: 75px;
    height: 75px;
    animation: uranus-rotation 12s linear infinite;
}

.saturn_container{
    position: absolute;
    height: 600px;
    width: 600px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.saturn_container img{
    width: 95px;
    height: 95px;
    animation: saturn-rotation 9s linear infinite;
}

.jupiter_container{
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.jupiter_container img{
    width: 75px;
    height: 75px;
    animation: jupiter-rotation 7s linear infinite;
}

.mars_container{
    position: absolute;
    height: 400px;
    width: 400px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.mars_container img{
    width: 35px;
    height: 35px;
    animation: mars-rotation 6s linear infinite;
}


.venus_container{
    position: absolute;
    height: 350px;
    width: 350px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.venus_container img{
    width: 30px;
    height: 30px;
    animation: venus-rotation 4s linear infinite;
}


.mercury_container{
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;    
}

.mercury_container img{
    width: 20px;
    height: 20px;
    animation: mercury-rotation 2s linear infinite;
}

@keyframes neptune-rotation{
  0%  {
    transform: rotate(0deg) translate(425px) rotate(0deg);
    }

   100%{
    transform: rotate(360deg) translate(425px) rotate(360deg);
   } 
}

@keyframes uranus-rotation{
    0%  {
      transform: rotate(0deg) translate(375px) rotate(0deg);
      }
  
     100%{
      transform: rotate(360deg) translate(375px) rotate(360deg);
     } 
  }

  @keyframes saturn-rotation{
    0%  {
      transform: rotate(0deg) translate(300px) rotate(0deg);
      }
  
     100%{
      transform: rotate(360deg) translate(300px) rotate(360deg);
     } 
  }

  @keyframes jupiter-rotation{
    0%  {
      transform: rotate(0deg) translate(250px) rotate(0deg);
      }
  
     100%{
      transform: rotate(360deg) translate(250px) rotate(360deg);
     } 
  }

  @keyframes mars-rotation{
    0%  {
      transform: rotate(0deg) translate(200px) rotate(0deg);
      }
  
     100%{
      transform: rotate(360deg) translate(200px) rotate(360deg);
     } 
  }


  @keyframes venus-rotation{
    0%  {
      transform: rotate(0deg) translate(175px) rotate(0deg);
      }
  
     100%{
      transform: rotate(360deg) translate(175px) rotate(360deg);
     } 
  }


  @keyframes mercury-rotation{
    0%  {
      transform: rotate(0deg) translate(150px) rotate(0deg);
      }
  
     100%{
      transform: rotate(360deg) translate(150px) rotate(360deg);
     } 
  }